---
layout: layouts/default.njk
---

<header class="header">
  <div class="container">
    <p class="header__back-link">
      <a href="/">← Home</a>
    </p>
    <h1 class="header__title">Documentation</h1>
  </div>
</header>

<main class="main">
  <div class="container">
    <h2 class="main__subtitle">Docs Coming Soon!</h2>

    <p>
      Sorry! I'm still in the process of putting the user guides together.
      But you shouldn't have to wait much longer.
    </p>

    <p>
      Jamie &lt;3
    </p>
  </div>
</main>
