---
layout: layouts/default.njk
---

<header class="header">
  <div class="container">
    <h1 class="header__title">HeySugar.</h1>
    <h2>
      HeySugar is a blood sugar management application for type one and type
      two diabetics, developed with Jamstack.
    </h2>
  </div>
</header>

<main>
  <div class="container"></div>
</main>
