<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HeySugar | {% if title %}{{title}}{% else %}Diabetes Management with Jamstack{% endif %}</title>
    <meta name="Description" content="HeySugar is an open-source, self hosted, blood sugar management application for type one and type
      two diabetics.">
    <style>{% include "css/styles.css" %}</style>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <nav class="navigation">
          <a href="/" class="navigation__logo logo">HeySugar</a>

          <ul class="navigation__list">
            <li class="navigation__list-item">
              <a class="navigation__link" href="/">Home</a>
            </li>
            <li class="navigation__list-item">
              <a class="navigation__link" href="/documentation">Docs</a>
            </li>
            <li class="navigation__list-item">
              <a class="navigation__link" href="https://github.com/HeySugar/hey-sugar-app" target="_blank">
                Github
              </a>
            </li>
          </ul>
        </nav>

        {% if backLink %}
        <p class="header__back-link">
          <a href="{{ backLink.path }}">← {{ backLink.title }}</a>
        </p>
        {% endif %}

        {% if title %}
          <h1 class="header__title">{{ title }}</h1>
        {% endif %}
      </div>
    </header>

    {# Main Section [Content] #}
    <main class="main">
      <div class="container">
        {{ content | safe }}
      </div>
    </main>

    <footer class="footer">
      <div class="container">
        <p>We use cookies for analytical purposes on these docs in order to understand areas that require improvement.<br/>We understand that by using this website you acknowledge this.</p>
        <p>Project created by <a href="https://bradders.dev" target="_blank">Jamie Bradley</a></p>
      </div>
    </footer>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93010339-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-93010339-2');
    </script>
  </body>
</html>
